<div class="page-header">
  <h3>Tag #<%= @tag.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Tag name</dt>
      <dd><%= @tag.tag_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tags" class="btn btn-primary">
        Back
      </a>
      <a href="/tags/<%= @tag.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_tag/<%= @tag.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Tag has many restaurants -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Restaurants
      </li>

      <% @tag.restaurants.each do |restaurant| %>
        <li class="list-group-item">
          <a href="/restaurants/<%= restaurant.id %>">
            <%= restaurant.description %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/restaurants/<%= restaurant.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/restaurants/<%= restaurant.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_restaurant/<%= restaurant.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_restaurant" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="">
      </div>

      <!-- Label and input for cover_photo -->
      <div class="form-group">
        <label for="cover_photo" class="control-label">
          Cover photo
        </label>

        <input type="text" id="cover_photo" name="cover_photo" placeholder="Cover photo" class="form-control" value="">
      </div>

      <!-- Label and input for website -->
      <div class="form-group">
        <label for="website" class="control-label">
          Website
        </label>

        <input type="text" id="website" name="website" placeholder="Website" class="form-control" value="">
      </div>

      <!-- Label and input for tag_id -->
      <input type="hidden" name="tag_id" value="<%= @tag.id %>">

      <button class="btn btn-block btn-success">
        Create Restaurant
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
