<div class="page-header">
  <h3>Restaurant #<%= @restaurant.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd><%= @restaurant.description %></dd>

      <dt>Address</dt>
      <dd><%= @restaurant.address %></dd>

      <dt>Cover photo</dt>
      <dd><%= @restaurant.cover_photo %></dd>

      <dt>Website</dt>
      <dd><%= @restaurant.website %></dd>

      <dt>Tag</dt>
      <dd><%= @restaurant.tag_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/restaurants" class="btn btn-primary">
        Back
      </a>
      <a href="/restaurants/<%= @restaurant.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_restaurant/<%= @restaurant.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
